.work-card {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-muted);
  border-radius: 1.5rem;
  padding: 0.7rem 0.9rem 1.5rem;
  background: var(--container-bg);
}

.work-body {
  display: flex;
  gap: 0.7rem;
}

.work-content {
  position: relative;
}

.left-line-bar {
  position: absolute;
  width: 0.1rem;
  height: 90%;
  left: 50%;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--blink),
    transparent
  );
  animation: blink 10s ease infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.logo-initials {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
  font-weight: 900;
  width: 22px;
  height: 40px;
  border: 1px solid var(--border-muted);
  border-radius: 0.9rem;
  background:
    radial-gradient(
      900px 500px at 15% 10%,
      color-mix(in srgb, var(--accent) 16%, transparent),
      transparent 80%
    ),
    transparent;
}

.project-details-wrpper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-right: 0.2rem;
}

.project-title {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--text);
}

.muted-subtitle {
  font-size: 0.95rem;
  font-weight: 800;
  color: var(--muted);
}

.muted-description {
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--muted);
}

.tags-wrapper {
  display: flex;
  margin: 0.8rem 0;
  gap: 0.6rem;
}

.tag-pill {
  font-size: 0.7rem;
  font-weight: 900;
  background: var(--sectionBg);
  padding: 0.5rem;
  border: 1px solid var(--cardBg);
  border-radius: 1rem;
}

.stack-section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.stack-label {
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--muted);
}

.stack-wrapper {
  display: flex;
  gap: 0.6rem;
}

.stack-pill {
  font-size: 0.7rem;
  font-weight: 900;
  background: var(--sectionBg);
  padding: 0.5rem;
  border: 1px solid var(--cardBg);
  border-radius: 0.8rem;
}

.project-actions {
  display: flex;
  align-items: center;

  margin: 1.2rem 0 0;
  gap: 1.5rem;
}

.btn.secondary.len1 {
  padding: 0.85rem 1.05rem;
  font-size: 0.8rem;
}

.btn.primary.len1 {
  padding: 0.8rem 1.05rem;
  font-size: 0.8rem;
}
