.about-section {
  margin: 0;
  padding: 1rem;
  background: var(--sectionBg);
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 2rem 0.5rem;
}

/* Initially move all <p> down by 80px, then bring them back to their original position (0) when visible.” */
.about-text p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  /* max-width: 38ch; */
  /* margin: 0 auto; */
  color: var(--muted);

  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease-in-out;
}

.about-text.show p:nth-child(1) {
  transform: translateY(0);
  transition-delay: 0.6s;
  opacity: 1;
}

.about-text.show p:nth-child(2) {
  transform: translateY(0);
  transition-delay: 0.9s;
  opacity: 1;
}
